# old staging
[volterra]
mfa_serial=arn:aws:iam::434481986642:mfa/FIXME
aws_mfa_device = arn:aws:iam::434481986642:mfa/FIXME
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
region = us-west-2
output = json


# new staging
[volterra-staging]
mfa_serial = arn:aws:iam::134860398382:mfa/FIXME-staging
aws_mfa_device = arn:aws:iam::134860398382:mfa/FIXME-staging
aws_access_key_id =
aws_secret_access_key =
region = us-east-2
output = json


# NOTE, it's recomended to keep PROD in separate file (encrypted)
[volterra-prod]
mfa_serial = arn:aws:iam::235529652044:mfa/FIXME-prod
aws_mfa_device = arn:aws:iam::235529652044:mfa/FIXME-prod
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
region = us-east-2
output = json



## TEMP PROFILES created with `aws-mfa` tool

[volterra-mfa]

[volterra-staging-mfa]

[volterra-prod-mfa]
