# Usage:
# chezmoi git pull -- --autostash --rebase && chezmoi diff  
# chezmoi apply -v

{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $shell := promptStringOnce . "shell" "Your shell [zsh|fish|bash]" }}



[data]
    email = {{ $email | quote }}

[data.features_enabled]
  age = true
  gopass = true
  gnutools = false

[git]
    autoCommit = true
    #autoPush = true
    #commitMessageTemplate = 

encryption = "age"
#[age]
    #identity = "~/.ssh/id_ed25519"
    #symmetric = true
    #passphrase = true

    # with age key
    #identity = "~/.config/chezmoi/age.key"
    #recipient = ""

