# Usage:
# chezmoi git pull -- --autostash --rebase && chezmoi diff  
# chezmoi apply -v
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $shell := promptStringOnce . "shell" "Your shell [zsh|fish|bash]" -}}
{{- $eneng := promptStringOnce . "eneng" "Encryption engine [age]"  }}

[data]
  email = {{ $email | quote }}
  shell = {{ $shell | quote }}
  eneng = {{ $eneng | quote }}

[data.features]
  dummy = false

[data.install]
  age = {{ eq $eneng "age" }}
  gopass = true
  gnutools = true # TODO, enable implicit on osx


encryption = {{ $eneng | quote }}

[age]
    identity = "~/.password-store/.age.key"
    recipient = "age14t8gu3454w56fvdz5twfuysk8fw5u24n7t95a7yuks07k5nks93syvw5pv"

[git]
    autoCommit = true
    #autoPush = true
    commitMessageTemplate = {{ `"{{ promptString \"Commit message\" }}"` }}


{{ $el :=  "{{"  }}
{{ $er :=  "}}"  }}
[merge]
    command = "nvim"
    args = ["-d", "{{ $el }} .Destination {{ $er }}", "{{ $el }} .Source {{ $er }}"]

