
# CD PATHS 
export CDPATH="$WORK:~/go/src/gopkg.volterra.us/:$CDPATH"

# go
export GOPRIVATE=gopkg.volterra.us/*

# k8s
export PATH="${PATH}:${HOME}/.krew/bin"
export KUBE_NS="ves-system"


# git
export NOREF='-mref: #0'


## ssh
test -e ~/.ssh/config.d &&\
  source ~/.ssh/config.d/**/aliases.sh


# brew
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_AUTO_UPDATE_SECS=1814400  # 3 weeks
#export HOMEBREW_AUTO_UPDATE_SECS=604800  # 1 week


# paths
export PATH="$HOME/bin:$PATH"
{{- if eq .chezmoi.os "darwin" }}
export PATH="/usr/local/opt/util-linux/bin:$PATH"
export PATH="/usr/local/opt/util-linux/sbin:$PATH"
{{ end }}


# VES functions
function matrix-cat() {matrix decrypt --in ${1:-/dev/stdin} ${2} --out -|tee /dev/stderr|pbcopy}
function matrix-dec() {test -e ${1//\.matrix/} && rm -v ${1//\.matrix/}; matrix decrypt --in ${1:-/dev/stdin} --out ${1//\.matrix/}}
function matrix-evr() {matrix encrypt --in $1 --validity-period=0 ${2:-${SHARE_WITH:--g sre@ves.io -g vcs-sre@f5.com }}}
function matrix-shr() {matrix encrypt --in ${@:--} --out -}

function ddiff()
{
    # Shell-escape each path:
    DIR1=$(printf '%q' "$1"); shift
    DIR2=$(printf '%q' "$1"); shift
    vim $@ -c "DirDiff $DIR1 $DIR2"
}
