#!/bin/sh

## OSX
{{- if eq .chezmoi.os "darwin" }}

  ## common utils
  ## common, serverside minimum
  brew install -q bash bat chezmoi coreutils curl diffutils direnv fd findutils fzf jq yq just nnn ripgrep rsync tree wget kubectl stern
  ## users
  brew install -q terraform iterm2 tig kubecolor glab saml2aws pwgen rclone k9s kustomize make go-jsonnet gopass skopeo stern awscli eksctl git-workspace gitbatch


  echo    "\n\n"
  echo    "Up to you to install additional tools:"
  echo    "brew install -y ansible ansible-lint aws-iam-authenticator azure-cli"
  echo    "gcloud components install gke-gcloud-auth-plugin"

  {{ if .features.gnutools }}
  ## GNU first class experience
  brew install -q \
    -q coreutils gnu-tar iproute2mac binutils diffutils ed findutils gawk gnu-indent gnu-sed gnu-which gnutls grep gzip screen watch
  test -e ~/bin || mkdir ~/bin
  test -e ~/homebrew/bin/gawk && HOMEBREW_PREFIX=~/homebrew || HOMEBREW_PREFIX=${HOMEBREW_PREFIX:-/usr/local}
  #export PATH="$HOMEBREW_PREFIX/libexec/gnubin:$HOMEBREW_PREFIX/bin:$PATH"
  for i in $(ls $HOMEBREW_PREFIX/bin/g*); do
      N=$(basename ${i/g//})
      ln -sf $i ~/bin/$N
  done

  {{ end }}

  {{ if eq .shell "fish" }}
  # fish
  brew install -q fisher fish
  fisher install jethrokuan/fzf
  fisher install jethrokuan/z
  {{ end }}

   # fonts
   brew install font-source-code-pro font-jetbrains-mono-nerd-font font-0xproto-nerd-font fontconfig
   starship preset nerd-font-symbols -o ~/.config/starship.toml

   # starship
   brew install starship
   #starship preset plain-text-symbols -o ~/.config/starship.toml

   # OTHER


## LINUX
{{ else if eq .chezmoi.os "linux" }}

{{ end }}
