#!/bin/sh

#FIXME, dont run this always but on autoUpdate condition
{{- if contains (getenv "RUN_AFTER) "utils" }}

## OSX
{{- if eq .chezmoi.os "darwin" }}

  ## common utils
  brew install -q \
    jq yq stern gitbatch gopass curl wget ripgrep fd fzf bash bat direnv go-jsonnet just

  {{ if .features.gnutools }}
  ## GNU first class experience
  export PATH="$(brew --prefix coreutils)/libexec/gnubin:/usr/local/bin:$PATH"
  brew install -q \
    -q coreutils gnu-tar iproute2mac binutils diffutils ed findutils gawk gnu-indent gnu-sed gnu-which gnutls grep gzip screen watch
  test -e ~/bin || mkdir ~/bin
  for i in $(ls /usr/local/bin/g*); do
      N=$(basename ${i/g//})
      ln -sf $i ~/bin/$N
  done
  {{ end }}

  {{ if eq .shell "fish" }}
  # fish
  brew install -q fisher fish
  fisher install jethrokuan/fzf
  fisher install jethrokuan/z
  {{ end }}


## LINUX
{{ else if eq .chezmoi.os "linux" }}

{{ end }}
{{ end }}
